html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: transparent;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
}

textarea {
  resize: none;
}

address {
  font-style: inherit;
}

input {
  outline: transparent;
}

textarea {
  outline: transparent;
}